/* CSS */

html, body{
	width:100%;
	height:100%;
}

body{
	margin:0;	
	position:relative;
	font-family:Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
}

a{
	text-decoration:none;
	color:#369;
	font-weight:bold;
}

/*** GLOBAL STUFF ***/

header{
	width:100%;
	height:70px;
}

/*** ADMIN STUFF ***/

*[data-property]{
	display:block;
	position:relative;
	margin-top:20px;
}

*[data-property]:before{
	content: attr(data-property);
	display:block;
	position:relative;
}

input[type="checkbox"][data-property]:before{
	content:"";
}

input[type="checkbox"][data-property]:after{
	content: attr(data-property);
	display:block;
	position:relative;	
	margin-left:20px;
}

.edit .icon{
	background-size:cover;
	background-repeat:no-repeat;
	width:50px;
	height:50px;
	background-color:#aaaaaa;
}

.edit .icon:before{
	content:"";
}

.edit .icon:after{
	content: attr(data-property);
	display:block;
	position:relative;	
	margin-left:60px;
}

/*** APP LIST AND THINGS ***/

.wrapper{
	width:100%;
	position:relative;
}

.list .app{
	padding-left:60px;
	background-size:auto 100%;
	background-position:0 0;
	margin:0px 0px 15px 0;
}

.wrapper > .app{
	background:#ffffff;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	-webkit-transition: -webkit-transform .5s;
	-moz-transition: -moz-transform .5s;
	-o-transition: -o-transform .5s;
	-ms-transition: -ms-transform .5s;
	transition: transform .5s;

	-webkit-transform: translate3d(100%, 0, 0);
	-moz-transform: translate3d(100%, 0, 0);
	-o-transform: translate3d(100%, 0, 0);
	-ms-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

.wrapper.app-view > .app{
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

