@import url(http://fonts.googleapis.com/css?family=Muli);

/* CSS */

html, body{
	width:100%;
	height:100%;
}

body{
	margin:0;	
	position:relative;
	font-family:Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 40em) {
	body{
		overflow-x:hidden;
	}
}


h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
	font-family: "Muli";
}

a{
	text-decoration:none;
	color:#369;
	font-weight:bold;
}

/*** GLOBAL STUFF ***/

header{
	padding-top:.5em;
	width:100%;
	height:50px;
}

header h1{
	font-size:1.8em;
	padding-left:65px;
	padding-top: .3em;
	height:60px;
	background:url(../images/mobileapps-logo.png) no-repeat;
	background-size: auto 100%;
	box-sizing:border-box;

}

/*** ADMIN STUFF ***/

*[data-property]{
	display:block;
	position:relative;
	margin-top:12px;
}

*[data-property]:before{
	content: attr(data-property);
	display:block;
	position:relative;
	font-size:.8em;
	width:100px;
}

input[type="checkbox"][data-property]:before{
	content:"";
}

input[type="checkbox"][data-property]:after{
	content: attr(data-property);
	display:block;
	position:relative;	
	margin-left:20px;
	width:150px;
}

input[type="text"], textarea{
	width:260px;
}

textarea{
	height:100px;
}

.edit, .release{
	box-sizing:border-box;
	padding:20px;
	border-radius:10px;
	border:1px solid #eeeeee;
	width:90%;
	margin:0 5%;
}

.edit h2, .release h2{
	margin-bottom:10px;
}

.edit > div{
	display:inline-block;
	vertical-align: top;
	margin:0 10px;
}

.edit > div > *:not(h3){
	margin-left:10px;
}

.edit .icon{
	background-size:cover;
	background-repeat:no-repeat;
	margin-top:25px;
	width:50px;
	height:50px;
	background-color:#aaaaaa;
}

.edit .icon:before{
	content: attr(data-property);
	display: block;
	height: 30px;
	position: absolute;
	top: -18px;
}



/*** APP LIST AND THINGS ***/

.wrapper{
	width:100%;
	position:relative;
}

.list{
	padding-top:1.6em;
}

.list .app{
	box-sizing:border-box;
	padding-left:70px;
	background-size:auto 60px;
	background-position:0 0;
	background-repeat:no-repeat;
	margin:0px 0px 15px 2%;
	width:96%;
	background-image: url(../images/app-icon.png) !important; /* remove this */
}

.list .app:hover{
	
	
}

.wrapper > .app{
	background:#ffffff;
	position:fixed;
	top:0;
	left:0;
	width:80%;
	height:90%;
	margin:5% 10%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	padding-left:30px;
	-webkit-transition: opacity .6s, z-index 0s linear .6s, -webkit-transform 0s linear .6s;
	-moz-transition: opacity .6s, z-index 0s linear .6s, -webkit-transform 0s linear .6s;
	-o-transition: opacity .6s, z-index 0s linear .6s, -webkit-transform 0s linear .6s;
	-ms-transition: opacity .6s, z-index 0s linear .6s, -webkit-transform 0s linear .6s;
	transition: opacity .6s, z-index 0s linear .6s, -webkit-transform 0s linear .6s;

	-webkit-transform: translate3d(100%, 0, 0);
	-moz-transform: translate3d(100%, 0, 0);
	-o-transform: translate3d(100%, 0, 0);
	-ms-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);

	opacity:0;

	z-index:-1;
	box-shadow: -4px 4px 38px 5px rgba(0,0,0,.4);
	border-radius:10px;
}

.wrapper.app-view > .app{
	-webkit-transition: opacity .6s, z-index 0s;
	-moz-transition: opacity .6s, z-index 0s;
	-o-transition: opacity .6s, z-index 0s;
	-ms-transition: opacity .6s, z-index 0s;
	transition: opacity .6s, z-index 0s;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity:1;
	z-index:10;
	overflow-y:auto;

	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 42em) {
	.wrapper > .app{
		background:#ffffff;
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		margin:0;
		overflow-y:auto;
		box-sizing:border-box;
		padding-left:15px;
		-webkit-transition: -webkit-transform .5s, opacity 0s linear .5s;
		-moz-transition: -moz-transform .5s, opacity 0s linear .5s;
		-o-transition: -o-transform .5s, opacity 0s linear .5s;
		-ms-transition: -ms-transform .5s, opacity 0s linear .5s;
		transition: transform .5s; opacity 0s linear .5s;

		-webkit-transform: translate3d(100%, 0, 0);
		-moz-transform: translate3d(100%, 0, 0);
		-o-transform: translate3d(100%, 0, 0);
		-ms-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);

		box-shadow:none;
		border-radius:0;
		z-index:0;
		opacity:0;
	}

	.wrapper.app-view > .app{
		-webkit-transition: -webkit-transform .5s;
		-moz-transition: -moz-transform .5s;
		-o-transition: -o-transform .5s;
		-ms-transition: -ms-transform .5s;
		transition: transform .5s;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		z-index:0;
	}
}

.wrapper > .app h2.image{
	padding-left:60px;
	padding-top:10px;
	height:50px;
	box-sizing:border-box;
	background-size:auto 100%;
	background-position:0 0;
	background-repeat:no-repeat;
	background-image: url(../images/app-icon.png) !important; /* remove this */
}

.wrapper > .app  nav.admin{
	text-align:right;
	position:absolute;
	top:2em;
	right:1em;
}

.wrapper > .app  nav.admin button{
	margin:0 1em;
	color:#ca3800;
	font-weight:bold;
}

@media screen and (max-width: 42em) {
	.wrapper > .app  nav.admin{
		padding:1em 0;
		text-align:left;
		position:relative;
		top:0;
		left:0;
		right:0;
		right:-webkit-initial;
	}

	.wrapper > .app  nav.admin button{
		margin:0 .2em;
		color:#ca3800;
		font-weight:bold;
	}
}



.app .version {
	font-weight:bold;
	font-size:.8em;
}

.app .release .notes{
	padding:10px;
	box-sizing:border-box;
}

.releases .release.active .notes{
	max-height:300px;
}

.releases .release.active button{
	display:block;
}

.releases .release{
	margin:10px 0 10px 10px;
}

.app button.admin{
	color:#ca3800;
	font-weight:bold;
}

.releases .release .notes{
	padding:0;
	max-height:0px;
	-webkit-transition: max-height .4s;
	overflow:hidden;
}

.releases .release button{
	display:none;
}
