<% include head %>

	<script type="text/javascript">

		function submit() {

			$.ajax({
				'url': '/app/<%= app._id %>/authenticate',
				'data': 'password=\'' + $("#password").val() + '\'',
			    'type': 'POST',
			    'processData': false,
			    success: function(html) {
			    	$('#dialog').html(html);
			    }
			});
		}

	</script>

	<form class="authenticate" >
		<h2>Enter Passcode</h2>

		<div data-property='Secret Passcode'>
			<input name='password' id='password' type='password' />
		</div>
		
		<button onclick='submit();'>Submit</button>

	</form>

<% include foot %>