<% include head %>

	<form class="authenticate" action='/authenticate'>
		<h2>Enter Passcode</h2>

		<div data-property='Secret Passcode'>
			<input name='password' type='password' />
		</div>

		<input type='Submit' value='Submit'>

	</form>

<% include foot %>