
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Logs</title>

  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="/css/log.css" />
  
  <script src="/js/vendor/custom.modernizr.js"></script>
  <script src="/js/vendor/jquery-2.0.2.min.js"></script>
  <script src="/js/vendor/moment.js"></script>
  <script src="/js/vendor/knockout-2.2.1.js"></script>  
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <script>
      var viewModel = {
          logMessages : ko.observableArray(<%- JSON.stringify(logHistory) %>),
          filter: ko.observable(""),
      };
      
      viewModel.filteredMessages = ko.dependentObservable(function() {
        var filter = this.filter().toLowerCase();
    
        if(!filter) {
            return this.logMessages();
        } else {
            return ko.utils.arrayFilter(this.logMessages(), function(item) {
                if(item.message.toLowerCase().search(filter) != -1) {
                    return true;
                }
            });
        }
      }, viewModel);
      
      $(document).ready(function (){
          
          $("#clearLogsBtn").click(function() {
             viewModel.logMessages.removeAll();
             return false;
          });
          
          $("#clearServerLogsBtn").click(function(){
             $.get("/log/clear");
             viewModel.logMessages.removeAll();
             return false;
          });
          
          ko.applyBindings(viewModel);

          var socket = io.connect('<%-requestURL + logSocketNS%>');

          socket.on('connect', function() {
            console.log('socket io connected');
          });

          socket.on('log_data', function (data) {
            viewModel.logMessages.unshift(data);
          });
      });  
</script>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="brand">Log Messages</span>
        <div class="nav-collapse collapse">
          <form class="navbar-form pull-right">
            <button id="clearLogsBtn" class="btn"><i class="icon-remove"></i> Clear Local</button>
            <button id="clearServerLogsBtn" class="btn"><i class="icon-trash"></i> Clear Server</button>
            &nbsp;
            <input class="span2 input-small" id="filterTxt" type="text" placeholder="Fiter" data-bind="value: filter, valueUpdate: 'afterkeydown'">
            <!-- <button id="filterBtn" class="btn"><i class="icon-search"></i> Filter</button> -->
          </form>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
 
  <div class="container"> 
    <div data-bind="visible: filteredMessages().length == 0">
      No logs
    </div>
    <table class="table table-bordered table-condensed table-hover logTable" data-bind="visible: filteredMessages().length > 0"> 
        <thead>
        <tr>
            <th colspan="4">Messages <span style="float:right;">(<span data-bind="text: filteredMessages().length"></span>)</span> <span class="filterDisplay" data-bind="text: filter() ? 'Filter: ' + filter() : '', visible: filter()"></span></th>
        </tr>
        </thead>
        <tbody data-bind="foreach: filteredMessages">
        <tr data-bind="css: { error : level == 'E', warning: level == 'W' }">
            <td><span data-bind="text: moment(date).format('MM-DD-YYYY HH:mm:ss')"></span></td>
            <td><span data-bind="text: level"></span></td>
            <td><span data-bind="text: source"></span></td>
            <td><span data-bind="text: message"></span></td>
        </tr>
    </tbody>
    </table>
  </div>
</body>
</html>

