<% include head %>

	<form action='/authenticate'>

		<div data-property='Username'>
			<input name='username'  />
		</div>
		<div data-property='Passowrd'>
			<input name='password' type='password' />
		</div>

		<input type='Submit' value='Login'>

	</form>

<% include foot %>