<% include head %>

	<form class="authenticate" action='/authenticate'>
		<h2>Admin Login</h2>

		<div data-property='Username'>
			<input name='username'  />
		</div>
		<div data-property='Password'>
			<input name='password' type='password' />
		</div>

		<input type='Submit' value='Login'>

	</form>

<% include foot %>