<!DOCTYPE html>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/design/content/styles/style.css" />
	<script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
	<script src="/design/content/scripts/design.js"></script>
	
</head>

<body>

	<header>
		<h1>mobile apps</h1>
	</header>

	<nav>

	</nav>

	<div class="edit">

		<h2><%= title %></h2>

		<div class="info">

			<h3>Info</h3>
			<form method='post' action = '/upload/new' enctype='multipart/form-data'>
		
			<div class="icon" data-property="App Icon">
				<input type='file' name='app[icon]'/>	
			</div>
			
			<div data-property="App Name">
				<input type="text" name='app[name]'>
			</div>
			
			<div data-property="App Description">
				<textarea type="text" name = 'app[desc]'></textarea>
			</div>
			
			<div data-property="Platform">
				<input type="text" name = 'app[platform]' />
			</div>
			
			<div data-property="Working Group">
				<input type="text" name = 'app[group]' />
			</div>
		

		</div>

		<div class="security">
		
			<h3>Security</h3>
			
			<input type="checkbox" data-property="Development App" name ='app[isDev]'>		
			
			<input type="checkbox" data-property="Secured" name='app[isSecure]'>
			
			<div  data-property="Passcode">
				<input type="text" name='app[passcode]'>
			</div>
			
			<input type="checkbox" data-property="Hidden" name='app[isHidden]'>

		</div>

	
		
	</div>

	<div class="release">

		<h2>New Release</h2>
		<!--how to differentiate release from update, checkbox or other page-->

		<div class="info">
			
			
			<div data-property="Release Version">
				<input type="text" name='release[version]'>
			</div>
			
			<div data-property="Release Notes">
				<textarea type="text" name='release[notes]'></textarea>
			</div>
			
			<div data-property="New App Package">
				<input type="file" name='release[file]'>
			</div>

			<p><input type='submit' value='Upload'/></p>


		</form>

		</div>
		
	</div>

</body>

</html>
