<!DOCTYPE html>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/design/content/styles/style.css" />
	<script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
	<script src="/design/content/scripts/design.js"></script>
	
</head>

<body>

	<header>
		<h1>mobile apps</h1>
	</header>

	<nav>

	</nav>

	<div class="edit">

		<h2><%= title %></h2>

		<div class="info">

			<h3>Info</h3>
		
			<div class="icon" data-property="App Icon"></div>
			
			<div data-property="App Name">
				<input type="text">
			</div>
			
			<div data-property="App Description">
				<textarea type="text"></textarea>
			</div>
			
			<div data-property="Platform">
				<input type="text"  />
			</div>
			
			<div data-property="Working Group">
				<input type="text" />
			</div>

		</div>

		<div class="security">
		
			<h3>Security</h3>
			
			<input type="checkbox" data-property="Development App">		
			
			<input type="checkbox" data-property="Secured">
			
			<div  data-property="Passcode">
				<input type="text">
			</div>
			
			<input type="checkbox" data-property="Hidden">

		</div>
		
	</div>

	<div class="release">

		<h2>New Release</h2>

		<div class="info">
			
			<div data-property="Release Version">
				<input type="text">
			</div>
			
			<div data-property="Release Notes">
				<textarea type="text"></textarea>
			</div>
			
			<button>FILE GOES HERE </button>

		</div>
		
	</div>

</body>

</html>
