/*! responsive-nav.js v1.0.15 by @viljamis */

#nav{

}

#nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
  box-shadow: inset 0px -12px 22px -12px rgba(0,0,0,.5);
}

#nav li {
  width: 100%;
  padding:.5em;  
}

.admin a{
    color:#ca3800;
    font-size:.9em;
  }

.js #nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

#nav.opened {
  max-height: 9999px;
}

#nav-toggle{
  width:25px;
  height:25px;
  background:url(../images/menu.svg) no-repeat;
  background-size:100% 100%;
  display:block;
  position: absolute;
  top: 1em;
  right: 10px;
}



@media screen and (min-width: 42em) {  


  #nav ul{
    text-align:right;
    box-shadow:none;
  }

  #nav ul li{
    display:inline-block;
    width:auto;
    margin: 0 1em;
    padding:0;
  }

  #nav ul li.admin{
    margin-top:5px;
    display:block;    
  }



  .js #nav {
    position:absolute !important;
    top:1em;
    right:10;
    width:100%;
    margin:0;
    clip: auto;
  }
  .js #nav.closed {
    max-height: none;
  }
  #nav-toggle {
    display: none;
  }
}
