/*! responsive-nav.js v1.0.15 by @viljamis */

#nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
  box-shadow: inset 0px -12px 22px -12px rgba(0,0,0,.8);
}

#nav li {
  width: 100%;
  padding:.5em;  
  font-size:1.3em;
}

#nav ul li:first-child{
  padding-top:1.5em;
}

#nav ul li:last-child{
  padding-bottom:1.5em;
}



.admin a{
    color:#ca3800;
    /*font-size:.9em;*/
  }

.js #nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
  margin-top: 1em;
  background: #454545;
  box-shadow: inset 0px 12px 22px -12px rgba(0,0,0,.8);
}

#nav.opened {
  max-height: 9999px;
}

#nav-toggle{
  width:25px;
  height:25px;
  background:url(../images/menu.svg) no-repeat;
  background-size:100% 100%;
  display:block;
  position: absolute;
  top: 1.5em;
  right: 10px;
}

@media screen and (max-width: 42em) {  
    ul li a{
      color:#ffffff;
    }
}

@media screen and (min-width: 42em) {  


  #nav ul{
    text-align:right;
    box-shadow:none;
  }

  #nav ul li{
    display:inline-block;
    width:auto;
    margin: 0 1em;
    padding:0;
    font-size:1em;
  }

  #nav ul li.admin{
    margin-top:5px;
    /*display:block;*/
  }

  .admin a{
    font-size:.9em;  
  }
  

  .js #nav {
    position:absolute !important;
    background:transparent;
    top:.5em;
    right:10px;
    width:60%;
    margin:0;
    clip: auto;
    box-shadow:none;
    z-index:10;
  }

  .js #nav.closed {
    max-height: none;
  }
  #nav-toggle {
    display: none;
  }
}
