<button class="back" href="#">&lt;&lt;BACK</button>
<h2 class="image" style="background-image: url()">App Name</h2>
<div class="release">
	<div class="version">v0.0.0.1</div>
	<div class="notes">
		--Release note <br />
		--Release note <br />
		--Release note <br />
		--Release note <br />
		--Release note <br />
	</div>
	<button class="install">Install</button>
</div>
<h3>Past releases</h3>
<div class="releases">
	<div class="release">
		<div class="version">v0.0.0.09</div>
		<div class="notes">
			--Release note <br />
			--Release note <br />
			--Release note <br />
			--Release note <br />
			--Release note <br />
		</div>
		<button class="install">Install</button>
	</div>
	<div class="release">
		<div class="version">v0.0.0.05</div>
		<div class="notes">
			--Release note <br />
			--Release note <br />
			--Release note <br />
			--Release note <br />
			--Release note <br />
		</div>
		<button class="install">Install</button>
	</div>
	<div class="release">
		<div class="version">v0.0.0.01</div>
		<div class="notes">
			--Release note <br />
			--Release note <br />
			--Release note <br />
			--Release note <br />
			--Release note <br />
		</div>
		<button class="install">Install</button>
	</div>
</div>